/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}

button {
    padding: 5px 10px;
    color: white;
    background-color: #0061ff;
    border-color: #0061ff;
    cursor: pointer;
}

/* utility */

.container-large {
    width: 1200px;
    margin: 0 auto;
}

.container-small {
    width: 1000px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* header */

header {
    position: fixed;
    width: 100%;
    background-color: white;
}

.navbar {
    height: 60px;
    line-height: 60px;
    justify-content: space-between;
}

.logo {
    margin: 10px 20px;
}

.dropbox-logo {
    height: 30px;
}

.navbar-links {
    text-decoration: none;
    color: black;
    margin: 0 20px;
}


/* main */

main {
    padding-top: 60px;
}

/* free trial section */

.jumbotron {
    padding: 30px 0;
    background-color: #b4d0e7;
    height: 600px;
}

h1 {
    font-size: 70px;
    font-weight: 800;
    margin: 30px 0;
}

.jumbo-img {
    height: 400px;
}

.free-trial-description {
    flex-basis: 30%;
    position: relative;
}

.start-free-trial {
    margin: 30px 0;
    padding: 10px 20px;
    border: none;
}

.fa-arrow-down {
    position: absolute;
    bottom: 23%;
    left: 0;
    font-size: 40px;
    color: black;
}