/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */

body {
  font-family: "Fredoka", sans-serif;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 70px;
  font-weight: 800;
  margin: 30px 0;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
  margin: 10px 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

button {
  margin: 30px 0;
  padding: 10px 30px;
  background-color: #0061ff;
  color: white;
  border: none;
}

p {
  padding: 10px 0;
}

section:not(.jumbotron) {
  margin: 150px 0;
}

/* utility */

.container-large {
  width: 1200px;
  margin: 0 auto;
}

.container-small {
  width: 1000px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.pointer {
  cursor: pointer;
}

.border {
  border: 1px solid black;
}

.bold {
  font-weight: bold;
}

hr.small {
  width: 20%;
  color: lightgray;
}

.margin-tall {
  margin: 40px 0;
}

.width-60 {
  width: 60%;
}

.bg-light-green {
  background-color: #a2d39b;
}
  
.bg-purple {
  background-color: #61082b;
}
  
.bg-blue {
  background-color: #0093ce;
}
  
.bg-orange {
  background-color: #ff1c1c;
}
  
.bg-red {
  background-color: #d5001f;
}
  
.bg-light-blue {
  background-color: #b4d0e7;
}
  
.bg-dark-blue {
  background-color: #0d2481;
}
  
.bg-yellow {
  background-color: #ffd830;
} 

.color-purple {
  color: #61082b;
}

.color-lightgray {
  color: #999999;
}

/* header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1;
}

.navbar {
  height: 60px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px black;
}

.left-navbar {
  align-items: center;

}

.logo {
  margin: 10px 20px;
}

.dropbox-logo {
  height: 30px;
}

.navbar-links {
  text-decoration: none;
  color: black;
  margin: 0 20px;
}

.description {
  padding: 30px 20px;
  height: 100%;
}

.start {
  margin: 0;
  padding: 5px 10px;
  border-color: #0061ff;
}

/* main */

main {
  padding-top: 60px;
}

/* free trial section */

.jumbotron {
  padding-top: 30px;
  background-color: #b4d0e7;
  height: 650px;
}

.jumbo-img {
  height: 450px;
}

.free-trial-card {
  height: 370px;
}

.free-trial-description {
  flex-basis: 30%;
  position: relative;
}

.fa-arrow-down {
  position: absolute;
  bottom: 10px;
  left: 0;
  font-size: 40px;
  color: black;
}

/* plans price */

.billing-checkboxes {
  line-height: 10px;
  margin: 40px 0;
}

.circles {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}

.checkboxes-content {
  margin-right: 50px;
}

.checked {
  border: 5px solid #0061ff;
}

/* billing plans */

.billing-plans {
  gap: 45px;
}

.billing-cards {
  flex-basis: calc(100% / 3);
}

.type {
  text-align: center;
  border-bottom: none;
}

.description > button {
  margin: 0 auto;
  display: block;
}

.fa-check {
  color: #0061ff;
}

ul.list li {
  display: flex;
  margin: 10px 0;
}

ul.list > li > :first-child {
  padding: 5px;
}

/* contact section */

.contact-info {
  flex-basis: 70%;
}

.contact-button {
  flex-basis: 30%;
  margin: 10px;
}

.contact-info > .section-margin {
  margin-bottom: 15px;
}

.contact-us .contact-info {
  padding-bottom: 10px;
}

/* find a partner section */

.partner-img-section {
  flex-basis: 60%;
}

.partner-info {
  flex-basis: 40%;
  padding: 50px 30px 20px 50px;
}

.find-partner {
  color: black;
  background-color: white;
  padding: 10px 15px;
  border: 2px solid black;
}

/* dropbox operations */

.operation-row {
  width: 100%;
  gap: 20px;
  margin-top: 50px;
}

.operation-card {
  flex-basis: calc(100% / 3);
}

/* dropbox downloads */

/* sponsor section */

/* side logo */

.sponsors-col {
  flex-basis: calc(100% / 3);
}

.sponsors-card {
  flex-basis: 50%;
  height: 280.5px;
  width: 280.5px;
  justify-content: center;
  align-items: center;
  border: 10px solid transparent;
}

.sponsors-card:hover {
  border: 10px solid rgba(226, 226, 226, 0.6) ;

}


.sponsors-logo {
  width: 50%;
  filter: invert(1);
}

/* central description */

.info-sponsors {
  flex-basis: calc(100% / 3);
  
  padding: 40px 40px 0 40px;
  background-color: #f5f5f5;
}

.central-logo {
  width: 50%;
  padding-bottom: 50px;
}

section.sponsors {
  margin: 0;
}

/* download Dropbox */

section.download {
  background-color: #b4d0e7;
  margin-top: 0;
  height: 300px;
}

.download > div {
  height: 100%;
  align-items: center;
}

.description-left {
  flex-basis: 50%;
}

.right-download-button {
  flex-basis: 50%;
  justify-content: center;
}

.start-trial {
  margin-top: 0;
  background-color: white;
  color: black;
}

/* frequently asked */

.question-row {
  align-items: center;
  padding: 20px 0;
}

.question {
  justify-content: space-between;
  
}

.answer {
  display: none;
  color: red;
}

.question-row:hover .answer {
  display: block;
}

/* footer */

footer {
  background-color: black;
  color: white;
}

.utility-links {
  padding-top: 40px;
  justify-content: space-between;
  gap: 15px;
}

.utility-col{
  flex-basis: 20%;
}

.utility-links li{
  padding: 10px 0;
}

.go-to {
  color: white;
  text-decoration: none;
}

.devider {
  margin: 80px 0 35px 0;
  width: 10%;
}

.fa-earth-americas {
  padding-right: 5px;
}